@use "../helpers" as *;

.auto {
  &-list {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    @include mobile{
      grid-template-columns: repeat(2,1fr);
    }
  }

  &-link {
    color: var(--color-dark);
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-decoration: none;
    border: var(--border);
    padding: 10px;
  }

  &-title {
    color: inherit;
    font-size: 18px;
  }

  &-info {
    display: flex;
    align-items: end;
    justify-content: space-between;
    font-size: 12px;
  }

  &-cost {
    font-size: 20px;
    white-space: nowrap;
    color: var(--color-accent);
  }

  &-span {
    display: block;
    white-space: nowrap;
  }

  &-img {
    width: 100%;

    @include mobile {
//      max-width: 150px;
    }
  }
}
