

.header{
  &__body{
    position: relative;

    &-inner{
      display: flex;
      padding: 50px ;
      gap: 25px;
      align-items: end;
      background: url("../images/header/box.png") 100%/cover no-repeat;
    }

    &-logo{
      align-self: center;
    }

    &-counter{
      align-self: center;

    }

    &-search{
      height: 20px;
      width: 440px;
      background-color: var(--color-gray);
      border: 1px solid var(--color-dark);
      padding: 13px 15px;

      border-radius: 5px;

    }


    &-actions{
      display: flex;
      flex-direction: column;
      row-gap: 10px;

      &--link{
        text-decoration: none;
        align-self: start;
        border-bottom: 2px dotted #000;
      }
      &--list{
        display: flex;
        gap: 10px;
      }
    }


  }

}