@use '../helpers' as *;
.preview{
  padding-block: 15px;
  overflow: hidden;
  padding-left: 12px; // костыльно сделано, тк изображение на пару пикселей не сходится, выгдяит плохо (оригинал padding - 15px)

  &__images{
    position: relative;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
    height: 100%;


    @include mobile{
      align-items: center;
      flex-direction: column;
    }

    &-big{
    padding: 5px ;
    }

    &-swiper{
      width: 80%;
      overflow: hidden;

      @include mobile{
        width: 100%;

      }
    }
    &-slide{
    }

    &-mini{
      padding-top: 5px; // тоже костыль, для лучшего виде (оригинал - 0px)
      display: flex;
      flex-direction: column;
      gap: 10px;
      width: 20%;


      @include mobile{
        flex-direction: row;
        padding-inline: 0;
        overflow: auto;
        width: 100%;
        justify-content: center;
      }
    }

    &-advert{
      position: absolute;
      bottom: 10%;
      left: 5%;
    }
  }

  &__image{
    width: 100%;
    height: 100%;
    &-mini{


      @include mobile{
        width: 150px;
      }
    }
  }

}