@use '../helpers' as *;
.preview{
  &__images{
    position: relative;
    display: flex;
    justify-content: space-between;
    gap: 20px;

    @include mobile{
      align-items: center;
      flex-direction: column;
    }

    &-mini{
      display: flex;
      flex-direction: column;
      gap: 10px;

      @include mobile{
        flex-direction: row;
        padding-inline: 0;
        overflow: auto;
        align-items: center;

      }
    }

    &-advert{
      position: absolute;
      bottom: 5%;
      left: 2%;
    }
  }

  &__image{
    &-mini{
      @include mobile{
        width: 150px;
      }
    }
  }

}