@use '../helpers' as *;
.recommend {

  padding: 0;

  &-list {
    display: flex;
    flex-direction: column;
    gap: 10px;

    @include mobile {
      gap: 0;
    }
  }

  &-item {
    padding: 15px;
    border-bottom: var(--border);

    @include tablet {
      padding: 5px;
    }
  }

  &-link {
    text-decoration: none;
    display: flex;
    gap: 10px;
  }

  &-info {
    color: var(--color-dark);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &:hover {
      color: var(--color-accent);
    }
  }

  &-title {
    color: inherit;
    font-size: 14px;
  }
  &-img{
    max-width: 80px;
    max-height: 60px;
  }

  &-cost {
    font-size: fluid(25, 20);
    color: var(--color-accent);
  }
}