@use '../helpers' as *;
.search {
  padding-inline: 50px;
  color: var(--color-gray);
  border-inline: 1px solid var(--color-gray);

  @include mobile{
    padding-inline: 25px ;
  }
  &__header {
    display: flex;
    padding: 10px 20px;
    border: 1px solid var(--color-gray-alt);
    gap: 50px;

    overflow: auto;

    &-title {
      font-size: 16px;
      color: var(--color-dark);
    }

  }

  &__navigation {
    &-list {
      display: flex;
      justify-content: space-between;
      gap: 25px;
    }

    &-link {
      color: var(--color-accent);
      letter-spacing: 0.5px;

      &:hover {
        color: var(--color-dark);
      }
    }
  }

  &__body{
    &-inner{
      display: flex;
    }

  }
  &__brand {
    max-width: 800px;
    &-header {
      margin-top: 25px;
      background:
        linear-gradient(
            to bottom,
            rgba(255,255,255,0.2) 0%,
            rgba(255,255,255,0) 100%
        ),
        var(--color-dark);
      width: 100% ;
    }
    &-button {
      background: transparent ;
      border: none  ;
      color: var(--color-light);
      display: flex;
      justify-content: space-between;
      width: 100%;
      align-items: center;
      padding: 5px 15px;
    }
    &-desc {
      font-size: 25px;
      color: var(--color-accent);
    }

    &-main{
      margin-top: 25px;
      outline: 1px solid var(--color-gray);
      padding: 20px;
    }
    &-content{
      display: flex;
      justify-content: space-between;
      align-items: center;

    }
    &-title{
      color: var(--color-dark);
      font-size: 25px;
      font-weight: 600;
    }
    &-link{
      text-decoration: none;
      font-size: 15px;
    }
    &-list{
      padding-top: 25px ;
      display: flex;
      flex-wrap: wrap;
      gap: 10px;

      justify-content: space-between;
    }
    &-mark{
      display: flex;
      flex-direction: column;
      align-items: center;
      outline: 1px solid var(--color-dark);
      padding: 5px 20px;
      row-gap: 5px;

    }
    &-see{
      margin-top: 15px;
      display: flex;
      justify-content: center;
      &-button{
        background-color: var(--color-accent);
        color: var(--color-light);
        border: none ;
        padding: 5px 50px;

        &:hover{
          background-color: #AB8E30FF;
        }
      }
    }
  }
}