
@use '../helpers' as *;
.search{
  &-info {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include mobile {
      flex-direction: column;
    }
  }

  &-title {
    color: var(--color-dark);
    font-size: fluid(25, 15);
    font-weight: 600;
  }

  &-counter {
    @include tablet {
      display: none;
    }
  }

  &-link {
    text-decoration: none;
    font-size: 15px;
  }

  &-list {
    padding-top: 25px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
    @include mobile {
      gap: 3px;
      padding-top: 10px;
    }
  }

  &-item {
  }

  &-mark {
    display: flex;
    flex-direction: column;
    align-items: center;
    outline: 1px solid var(--color-dark);
    padding: 5px 20px;
    row-gap: 5px;

    @include mobile {
      padding: 0 10px;
    }
  }

  &-button {
    background-color: var(--color-accent);
    color: var(--color-light);
    border: none;
    padding: 5px 50px;
    margin-top: 25px;
    align-self: center;
    text-decoration: none;

    &:hover {
      background-color: #AB8E30FF;
    }

    @include mobile {
      padding: 0 25px;
    }
  }

}
