@use '../helpers' as *;

.section {
  padding-top: 0;
  padding-bottom: 40px;
  padding-inline: 40px;
  color: var(--color-gray);

  @include tablet {
    padding-inline: 20px;
  }

  &__header {
    margin-inline: -30px;
    margin-block: 25px;
    padding: 15px 30px;
    border-inline: 1px solid var(--color-gray);

    @include tablet {
      margin-inline: 0;
      padding: 0;

    }

    &-inner {
      display: flex;
      padding: 10px 20px;
      border: 1px solid var(--color-gray-alt);
      gap: 50px;
      overflow: auto;

      @include mobile {
        padding: 5px 10px;
      }
    }

    &-title {
      font-size: 16px;
      color: var(--color-dark);
    }

    &-nav {
    }

    &-list {
      display: flex;
      justify-content: space-between;
      gap: 25px;
    }

    &-item {
      align-self: center;
    }

    &-link {
      color: var(--color-accent);
      letter-spacing: 0.5px;

      &:hover {
        color: var(--color-dark);
      }
    }
  }
  &__body {

    &-inner {
    }
  }
  &__list {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    border: 1px solid var(--color-gray);
    margin: -30px;
    padding: 30px;
    margin-top: 0;

    &-big {
      grid-template-columns: 1fr;
    }

    @include tablet {
      border: none;
      margin: 0;
      padding: 0;
      grid-template-columns: 1fr;
    }
    @include mobile {
      border: none;
    }
  }
  &__item {
  }
  &__top {
    padding: 12px;
    margin-top: 25px;
    background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0.2) 0%,
        rgba(255, 255, 255, 0) 100%
    ),
    var(--color-dark);
    width: 100%;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--color-light);
    transition: all 0.5s ease;

    &:hover {
      transform: scale(1.01);
      box-shadow: 0 0 20px rgba(247, 255, 0, 0.3);
    }





    @include mobile {
      flex-direction: column;
      row-gap: 10px;
    }

    &--yellow {
      color: var(--color-light);
      background-color: var(--color-accent);

      &:hover {
        background-color: #AB8E30FF;
      }
    }

    &--gray {
      color: var(--color-gray);
      background-color: var(--color-gray-alt);
      font-weight: 600;
    }


    &-link {
      background: transparent;
      border: none;
      display: flex;
      justify-content: space-between;
      width: 100%;
      text-decoration: none;
      align-items: center;
      font-size: fluid(20, 15);
      transition: all 0.5s ease;



      @include mobile {
        padding: 0 10px;
      }


    }

    &-desc {
      position: relative;
      z-index: 2;
    }

    &-nav {
      display: flex;
      white-space: nowrap;
      gap: 5px;

      &-link {
        text-decoration: none;
      }

      @include mobile{
      }
    }

    &-between {
      color: var(--color-accent);
    }

  }
  &__main {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    padding: 20px;

    outline: 1px solid var(--color-gray);

    &:last-child {
      border: none;
    }

    @include mobile {
      padding: 5px;
    }
  }

}