@use '../helpers' as *;

.section {
  padding-top: 0;
  padding-bottom: 40px;
  padding-inline: 40px;
  color: var(--color-gray);

  @include mobile {
    padding-inline: 20px;
  }

  &__header {
    margin-inline: -30px;
    margin-block: 25px;
    padding: 15px 30px;
    border-inline: 1px solid var(--color-gray);

    @include mobile {
      //      margin-block: 0;
    }

    &-inner {
      display: flex;
      padding: 10px 20px;
      border: 1px solid var(--color-gray-alt);
      gap: 50px;
      overflow: auto;

      @include mobile {
        padding: 5px 10px;
      }
    }

    &-title {
      font-size: 16px;
      color: var(--color-dark);
    }

    &-nav {
    }

    &-list {
      display: flex;
      justify-content: space-between;
      gap: 25px;
    }

    &-item {
      align-self: center;
    }

    &-link {
      color: var(--color-accent);
      letter-spacing: 0.5px;

      &:hover {
        color: var(--color-dark);
      }
    }
  }

  &__body {

    &-inner {
    }
  }

  &__list {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    border: 1px solid var(--color-gray);
    margin: -30px;
    padding: 30px;
    margin-top: 0;

    &-big {
      grid-template-columns: 1fr;
    }

    @include tablet {

      grid-template-columns: 1fr;
    }
    @include mobile {
      padding: 0 25px;
      border: none;
    }
  }

  &__item {
  }

  &__top {
    padding: 5px 15px;
    margin-top: 25px;
    background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0.2) 0%,
        rgba(255, 255, 255, 0) 100%
    ),
    var(--color-dark);
    width: 100%;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--color-light);

    @include mobile {
      flex-direction: column;
      row-gap: 10px;
    }

    &--yellow {
      color: var(--color-light);
      background-color: var(--color-accent);

      &:hover {
        background-color: #AB8E30FF;
      }
    }

    &--gray {
      color: var(--color-gray);
      background-color: var(--color-gray-alt);
      font-weight: 600;
    }

    &-link {
      background: transparent;
      border: none;
      display: flex;
      justify-content: space-between;
      width: 100%;
      text-decoration: none;
      align-items: center;
      font-size: fluid(20, 15);

      @include mobile {
        padding: 0 10px;
      }


    }

    &-desc {
    }

    &-nav {
      display: flex;
      white-space: nowrap;
      gap: 5px;

      &-link {
        text-decoration: none;
      }
    }

    &-between {
      color: var(--color-accent);
    }

  }

  &__main {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    padding: 20px;

    outline: 1px solid var(--color-gray);

    &:last-child {
      border: none;
    }

    @include mobile {
      padding: 5px;
    }
  }


  &__sell {
    &-info {
      display: flex;
      justify-content: space-between;
      align-items: center;

      @include mobile {
        flex-direction: column;
      }
    }

    &-title {
      color: var(--color-dark);
      font-size: fluid(25, 15);
      font-weight: 600;
    }

    &-counter {
      @include tablet {
        display: none;
      }
    }

    &-link {
      text-decoration: none;
      font-size: 15px;
    }

    &-list {
      padding-top: 25px;
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      justify-content: space-between;
      @include mobile {
        gap: 3px;
        padding-top: 10px;
      }
    }

    &-item {
    }

    &-mark {
      display: flex;
      flex-direction: column;
      align-items: center;
      outline: 1px solid var(--color-dark);
      padding: 5px 20px;
      row-gap: 5px;

      @include mobile {
        padding: 0 10px;
      }
    }

    &-button {
      background-color: var(--color-accent);
      color: var(--color-light);
      border: none;
      padding: 5px 50px;
      margin-top: 25px;
      align-self: center;
      text-decoration: none;

      &:hover {
        background-color: #AB8E30FF;
      }

      @include mobile {
        padding: 0 25px;
      }
    }

  }

  &__cast {
    background-color: var(--color-gray-alt);

    @include mobile {
      padding: 10px;
    }

    &-model {
      display: flex;
      flex-wrap: wrap;
      column-gap: 10px;

      @include mobile {
        gap: 0;
      }
    }

    &-selects {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 10px;

      & > select {
        padding: 5px;
      }

      @include laptop {
        grid-template-columns: 1fr;
      }

    }

    &-button {
      margin-top: 20px;
      font-weight: 600;
      background-color: #bdbcbc;
      border: none;
      padding: 10px 15px;
      border-radius: 5px;
      align-self: center;
    }


  }

  &__auto {
    &-list {
      display: grid;
      gap: 10px;
      grid-template-columns: repeat(3, 1fr);

      @include mobile {
        grid-template-columns: repeat(2, 1fr);
      }

    }

    &-link {
      color: var(--color-dark);
      display: flex;
      flex-direction: column;
      gap: 5px;
      text-decoration: none;
      border: 1px solid var(--color-gray-alt);
      padding: 10px;
    }

    &-title {
      color: inherit;
      font-size: fluid(30, 20);
    }

    &-info {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: fluid(20, 10);

    }

    &-cost {
      font-size: fluid(25, 18);
      white-space: nowrap;
      color: var(--color-accent);
    }

    &-span {
      display: block;
    }

    &-img {
      width: 100%;
      @include mobile-s {
        max-width: 150px;
      }
    }
  }

  &__recommend {

    padding: 0;

    &-list {
      display: flex;
      flex-direction: column;
      gap: 20px;

      @include mobile {
        gap: 0;
      }
    }

    &-item {
      padding: 25px;
      border-bottom: 1px solid var(--color-gray);

      @include mobile {
        padding: 5px;
      }
    }

    &-link {
      text-decoration: none;
      display: flex;
      gap: 10px;
    }

    &-info {
      color: var(--color-dark);
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      &:hover {
        color: var(--color-accent);
      }
    }

    &-title {
      color: inherit;
    }

    &-cost {
      font-size: fluid(25, 20);
      color: var(--color-accent);
    }
  }

  &__services {
    padding: 0;

    &-list {
      display: flex;
      gap: 10px;
    }

    &-item {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 15px;
      border-right: 1px solid var(--color-gray);
      min-height: 300px;
      @include mobile {
        padding: 5px;
        min-height: 200px;

      }
    }

    &-link {
      display: flex;
      flex-direction: column;
      text-decoration: none;
    }


  }

  &__service {

    &-title {
      font-size: fluid(25, 15);
    }

    &-teg {
      font-weight: 600;
      color: var(--color-accent);
    }
  }


  &__news {
    padding: 0;
    border: none;

    &-list {
      display: grid;
      grid-template-columns: repeat(2, 1fr);

      @include mobile {
        grid-template-columns: 1fr;
      }
    }

    &-link {
      display: flex;
      align-items: center;
      padding: 15px;
      gap: 15px;
      border: 1px solid var(--color-gray);
      color: var(--color-dark);
      text-decoration: none;

      @include tablet {
        flex-direction: column;
      }
      @include mobile {
        flex-direction: row;
        padding: 5px;
      }

    }

    &-img {
      @include mobile {
        max-width: 150px;
      }
    }

    &-title {
      font-weight: 600;
      font-size: fluid(25, 15);
    }

    &-date {
      color: var(--color-gray);

      &:hover {
        color: var(--color-gray);
      }

    }

    &-desc {
    }

    &-img {

    }
  }


}