@charset "UTF-8";
*,
::before,
::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы слева тегам списков,
у которых есть атрибут class */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure, fieldset):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями и видео
 */
img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Убираем скачок интерфейса по горизонтали
    при появлении / исчезновении скроллбара
   */
  scrollbar-gutter: stable;
}

/**
  Плавный скролл
 */
html {
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Нормализация высоты элемента ссылки при его инспектировании в DevTools
 */
a:where([class]) {
  display: inline-flex;
}

/**
  Курсор-рука при наведении на элемент
 */
button,
label {
  cursor: pointer;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут fill со значением 'none' или начинается с 'url')
 */
:where([fill]:not([fill=none], [fill^=url])) {
  fill: currentColor;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут stroke со значением 'none')
 */
:where([stroke]:not([stroke=none], [stroke^=url])) {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Приведение рамок таблиц в классический 'collapse' вид
 */
:where(table) {
  border-collapse: collapse;
  border-color: currentColor;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  font-size: clamp(0.875rem, 0.8112745098rem + 0.2614379085vw, 1.125rem);
  display: flex;
  flex-direction: column;
  letter-spacing: -0.03em;
  color: var(--color-dark);
  background-color: var(--color-light);
  overflow-x: hidden;
}

main {
  flex-grow: 1;
}

h1,
.h1,
h2,
.h2,
h3,
.h3 {
  font-family: var(--font-family-accent);
  font-weight: 500;
}

h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-weight: 600;
}

h1,
.h1 {
  font-size: clamp(1.875rem, 1.237745098rem + 2.614379085vw, 4.375rem);
  line-height: 1.2;
}

h2,
.h2 {
  font-size: clamp(1.75rem, 1.2720588235rem + 1.9607843137vw, 3.625rem);
  line-height: 1.3;
}

h3,
.h3 {
  font-size: clamp(1.5rem, 1.2450980392rem + 1.045751634vw, 2.5rem);
  line-height: 1.5;
}

h4,
.h4 {
  font-size: clamp(1.125rem, 0.9975490196rem + 0.522875817vw, 1.625rem);
  line-height: 1.5;
}

h5,
.h5 {
  font-size: clamp(1.125rem, 1.0294117647rem + 0.3921568627vw, 1.5rem);
  line-height: 1.5;
}

h6,
.h6 {
  font-size: clamp(1rem, 0.9362745098rem + 0.2614379085vw, 1.25rem);
  line-height: 1.5;
}

a,
button,
label,
input,
textarea,
select,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  color: inherit;
}
@media (any-hover: hover) {
  a:hover {
    color: var(--color-accent);
  }
}
a:active {
  color: var(--color-accent);
}
a :focus-visible {
  outline: 0.125rem dashed var(--color-light);
  outline-offset: 0.25rem;
  transition-duration: 0s !important;
}

a[aria-label],
button[aria-label] {
  position: relative;
}
a[aria-label]::before,
button[aria-label]::before {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 2.75rem;
  height: 2.75rem;
  content: "";
}

section {
  padding-block: 30px;
}

@font-face {
  font-family: "Kumbh Sans";
  src: url(../fonts/KumbhSans-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Kumbh Sans";
  src: url(../fonts/KumbhSans-Regular.woff2) format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter-Medium.woff2) format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter-SemiBold.woff2) format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter-Bold.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

@media (width <= 47.99875rem) {
  .hidden-mobile {
    display: none !important;
  }
}

@media (width <= 63.99875rem) {
  .hidden-tablet {
    display: none !important;
  }
}

@media (width > 47.99875rem) {
  .visible-mobile {
    display: none !important;
  }
}

:root {
  --color-light: #fff;
  --color-dark: #141414;
  --color-gray: #a6a6a6;
  --color-gray-alt: #eaebec;
  --color-accent: #f2c943;
  --color-red: #ff5500;
  --border: 0.0625rem solid var(--color-dark);
  --container-width: 80rem;
  --container-padding-x: 1rem;
  --transition-duration: 0.2s;
}

.header__body-inner {
  display: flex;
  padding: 50px;
  gap: 25px;
  align-items: end;
  background: url("../images/header/box.png") 100%/cover no-repeat;
}
@media (width <= 63.99875rem) {
  .header__body-inner {
    flex-wrap: wrap;
    gap: 15px 25px;
  }
}
@media (width <= 47.99875rem) {
  .header__body-inner {
    padding: 15px 25px;
  }
}
.header__search {
  height: 20px;
  width: clamp(9.375rem, 4.7549019608rem + 18.954248366vw, 27.5rem);
  background-color: var(--color-gray-alt);
  border: 1px solid var(--color-dark);
  padding: 13px 15px;
  border-radius: 5px;
}
@media (width <= 63.99875rem) {
  .header__search {
    width: 100%;
  }
}
.header__actions {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.header__actions--link {
  text-decoration: none;
  align-self: start;
  border-bottom: 3px dotted #000;
  line-height: 1.1;
}
.header__actions--list {
  display: flex;
  gap: 10px;
}
.header__navigation {
  width: 100%;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%), var(--color-dark);
  border-radius: 10px 10px 0 0;
}
.header__navigation-list {
  display: flex;
  overflow: auto;
}
.header__navigation-item {
  padding: 15px;
  border-right: 1px solid gray;
}
@media (width <= 47.99875rem) {
  .header__navigation-item {
    padding: 8px;
  }
}
.header__navigation-button {
  color: var(--color-light);
  border: none;
  text-transform: uppercase;
  font-size: clamp(0.625rem, 0.5612745098rem + 0.2614379085vw, 0.875rem);
  font-weight: 200;
  background-color: transparent;
}
.header__navigation-button:not(:last-child) {
  border-right: 1px solid gray;
}
.header__navigation-button:hover {
  color: var(--color-accent);
}
.header__navigation-button.is-active {
  color: var(--color-gray);
  pointer-events: none;
}
.header__rubric {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.1) 100%), var(--color-gray);
  padding: 8px;
  color: #5b5b5b;
}
.header__rubric-list {
  display: flex;
  gap: 10px;
  overflow: auto;
}
.header__rubric-link {
  text-decoration: none;
}

.counter {
  height: 40px;
  z-index: 10;
  display: flex;
  align-self: end;
}
@media (width <= 47.99875rem) {
  .counter {
    display: none;
  }
}
.counter .count {
  width: 24px;
  height: 40px;
}
.counter .count-zero {
  background: url("../images/header/count.png") 0px 0px;
}
.counter .count-one {
  background: url("../images/header/count.png") -24px 0px;
}
.counter .count-two {
  background: url("../images/header/count.png") -48px 0px;
}
.counter .count-three {
  background: url("../images/header/count.png") -72px 0px;
}
.counter .count-four {
  background: url("../images/header/count.png") -96px 0px;
}
.counter .count-five {
  background: url("../images/header/count.png") -120px 0px;
}
.counter .count-six {
  background: url("../images/header/count.png") -144px 0px;
}
.counter .count-seven {
  background: url("../images/header/count.png") -168px 0px;
}
.counter .count-eight {
  background: url("../images/header/count.png") -192px 0px;
}
.counter .count-nine {
  background: url("../images/header/count.png") -216px 0px;
}

.preview__images {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
@media (width <= 47.99875rem) {
  .preview__images {
    align-items: center;
    flex-direction: column;
  }
}
.preview__images-mini {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
@media (width <= 47.99875rem) {
  .preview__images-mini {
    flex-direction: row;
    padding-inline: 0;
    overflow: auto;
    align-items: center;
  }
}
.preview__images-advert {
  position: absolute;
  bottom: 5%;
  left: 2%;
}
@media (width <= 47.99875rem) {
  .preview__image-mini {
    width: 150px;
  }
}

.advert {
  background: transparent;
  text-transform: uppercase;
  color: var(--color-light);
}
.advert__title {
  font-size: clamp(0.9375rem, 0.8259803922rem + 0.4575163399vw, 1.375rem);
}
.advert__desc {
  font-size: clamp(0.625rem, 0.5453431373rem + 0.3267973856vw, 0.9375rem);
  margin-bottom: 10px;
}
.advert__button {
  color: var(--color-light);
  border: none;
  border-radius: 20px;
  padding: 5px 25px;
  text-transform: uppercase;
  font-size: clamp(0.625rem, 0.5134803922rem + 0.4575163399vw, 1.0625rem);
  background-color: #f5671f;
}
.advert__button:hover {
  background-color: #ad4814;
}
@media (width <= 47.99875rem) {
  .advert__button {
    padding-inline: 15px;
  }
}

.section {
  padding-top: 0;
  padding-bottom: 40px;
  padding-inline: 40px;
  color: var(--color-gray);
}
@media (width <= 47.99875rem) {
  .section {
    padding-inline: 20px;
  }
}
.section__header {
  margin-inline: -30px;
  margin-block: 25px;
  padding: 15px 30px;
  border-inline: 1px solid var(--color-gray);
}
@media (width <= 47.99875rem) {
  .section__header {
    margin-block: 0;
  }
}
.section__header-inner {
  display: flex;
  padding: 10px 20px;
  border: 1px solid var(--color-gray-alt);
  gap: 50px;
  overflow: auto;
}
@media (width <= 47.99875rem) {
  .section__header-inner {
    padding: 5px 10px;
  }
}
.section__header-title {
  font-size: 16px;
  color: var(--color-dark);
}
.section__header-list {
  display: flex;
  justify-content: space-between;
  gap: 25px;
}
.section__header-item {
  align-self: center;
}
.section__header-link {
  color: var(--color-accent);
  letter-spacing: 0.5px;
}
.section__header-link:hover {
  color: var(--color-dark);
}
.section__list {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
  border: 1px solid var(--color-gray);
  margin: -30px;
  padding: 30px;
  margin-top: 0;
}
@media (width <= 63.99875rem) {
  .section__list {
    grid-template-columns: 1fr;
  }
}
@media (width <= 47.99875rem) {
  .section__list {
    padding: 0 25px;
  }
}
.section__top {
  margin-top: 25px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%), var(--color-dark);
  width: 100%;
  text-transform: uppercase;
}
.section__top-link {
  background: transparent;
  border: none;
  color: var(--color-accent);
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 5px 15px;
  text-decoration: none;
  align-items: center;
  font-size: clamp(0.9375rem, 0.8578431373rem + 0.3267973856vw, 1.25rem);
}
@media (width <= 47.99875rem) {
  .section__top-link {
    padding: 0 10px;
  }
}
.section__top-link--yellow {
  color: var(--color-light);
  background-color: var(--color-accent);
}
.section__top-link--yellow:hover {
  background-color: #ab8e30;
}
.section__top-link--gray {
  color: var(--color-gray);
  background-color: var(--color-gray-alt);
  font-weight: 600;
}
.section__main {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  padding: 20px;
  outline: 1px solid var(--color-gray);
}
@media (width <= 47.99875rem) {
  .section__main {
    padding: 5px;
  }
}
.section__sell-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (width <= 47.99875rem) {
  .section__sell-info {
    flex-direction: column;
  }
}
.section__sell-title {
  color: var(--color-dark);
  font-size: clamp(0.9375rem, 0.7781862745rem + 0.6535947712vw, 1.5625rem);
  font-weight: 600;
}
@media (width <= 63.99875rem) {
  .section__sell-counter {
    display: none;
  }
}
.section__sell-link {
  text-decoration: none;
  font-size: 15px;
}
.section__sell-list {
  padding-top: 25px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
}
@media (width <= 47.99875rem) {
  .section__sell-list {
    gap: 3px;
    padding-top: 10px;
  }
}
.section__sell-mark {
  display: flex;
  flex-direction: column;
  align-items: center;
  outline: 1px solid var(--color-dark);
  padding: 5px 20px;
  row-gap: 5px;
}
@media (width <= 47.99875rem) {
  .section__sell-mark {
    padding: 0 10px;
  }
}
.section__sell-button {
  background-color: var(--color-accent);
  color: var(--color-light);
  border: none;
  padding: 5px 50px;
  margin-top: 25px;
  align-self: center;
  text-decoration: none;
}
.section__sell-button:hover {
  background-color: #ab8e30;
}
@media (width <= 47.99875rem) {
  .section__sell-button {
    padding: 0 25px;
  }
}
.section__cast {
  background-color: var(--color-gray-alt);
}
@media (width <= 47.99875rem) {
  .section__cast {
    padding: 10px;
  }
}
.section__cast-model {
  display: flex;
  flex-wrap: wrap;
  column-gap: 10px;
}
@media (width <= 47.99875rem) {
  .section__cast-model {
    gap: 0;
  }
}
.section__cast-selects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
.section__cast-selects > select {
  padding: 5px;
}
@media (width <= 90.06125rem) {
  .section__cast-selects {
    grid-template-columns: 1fr;
  }
}
.section__cast-button {
  margin-top: 20px;
  font-weight: 600;
  background-color: #bdbcbc;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  align-self: center;
}
.section__auto-list {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
}
@media (width <= 47.99875rem) {
  .section__auto-list {
    grid-template-columns: repeat(2, 1fr);
  }
}
.section__auto-link {
  color: var(--color-dark);
  display: flex;
  flex-direction: column;
  gap: 5px;
  text-decoration: none;
  border: 1px solid var(--color-gray-alt);
  padding: 10px;
}
.section__auto-title {
  color: inherit;
  font-size: clamp(1.25rem, 1.0906862745rem + 0.6535947712vw, 1.875rem);
}
.section__auto-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: clamp(0.625rem, 0.4656862745rem + 0.6535947712vw, 1.25rem);
}
.section__auto-cost {
  font-size: clamp(1.125rem, 1.0134803922rem + 0.4575163399vw, 1.5625rem);
  white-space: nowrap;
  color: var(--color-accent);
}
.section__auto-span {
  display: block;
}
.section__auto-img {
  width: 100%;
}
@media (width <= 30.06125rem) {
  .section__auto-img {
    max-width: 150px;
  }
}
.section__recommend {
  padding: 0;
}
.section__recommend-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media (width <= 47.99875rem) {
  .section__recommend-list {
    gap: 0;
  }
}
.section__recommend-item {
  padding: 25px;
  border-bottom: 1px solid var(--color-gray);
}
@media (width <= 47.99875rem) {
  .section__recommend-item {
    padding: 10px;
  }
}
.section__recommend-link {
  text-decoration: none;
  display: flex;
  gap: 10px;
}
.section__recommend-info {
  color: var(--color-dark);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.section__recommend-info:hover {
  color: var(--color-accent);
}
.section__recommend-title {
  color: inherit;
}
.section__recommend-cost {
  font-size: 25px;
  color: var(--color-accent);
}
.section__services {
  padding: 0;
}
.section__services-list {
  display: flex;
  gap: 10px;
}
.section__services-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
  border-right: 1px solid var(--color-gray);
  min-height: 300px;
}
@media (width <= 47.99875rem) {
  .section__services-item {
    padding: 5px;
    min-height: 200px;
  }
}
.section__services-link {
  display: flex;
  flex-direction: column;
  text-decoration: none;
}
.section__service-title {
  font-size: clamp(0.9375rem, 0.7781862745rem + 0.6535947712vw, 1.5625rem);
}
.section__service-teg {
  font-weight: 600;
  color: var(--color-accent);
}

/*# sourceMappingURL=main.css.map */
